.c-pointer {
    cursor: pointer;
}

.loader {
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    text-align: center;
    align-content: center;
}

td {
    height: 50px;
    align-content: center;
}